body {
 margin-left: 60px;
 margin-right: 60px;
 color: #000;
 background-color: #FFFFFD;
}
a[href] {
 color: #F80;
}
a.disabled {
 color: #CCC;
}
a.selected {
 text-decoration: none;
}
a.selected:hover {
 text-decoration: underline;
}
table.layout td {
 vertical-align: top;
}
div {
}
div.raised {
 margin: 10px;
 padding: 10px;
 border: 1px solid #000;
 background-color: #EEF;
 text-align: center;
 -moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;;
}
span.right {
 float: right;
}
span.error {
 color: #F00;
}
div#header {
 color: #FE1;
 background-color: #44C;
 width: 100%;
 clear: both;
 text-align: center;
 border-bottom: 1px solid #FFF;
 -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;;
}
div#header h1 {
 text-align: center;
}
div#menubar {
 color: #FFF;
 background-color: #44F;
 width: 100%;
 padding-top: 2px;
 padding-bottom: 2px;
 -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;;
}
div#menubar>div {
 padding-left: 10px;
 padding-right: 10px;
}
div#menubar a , div#submenu a {
 color: #FF0;
}
div#submenu {
 background-color: #66F;
 width: 100%;
 margin-top: 4px;
 padding-top: 2px;
 padding-bottom: 2px;
}
div#body {
 padding-left: 60px;
 padding-right: 60px;
 padding-bottom: 20px;
}
div#footer {
 width: 100%;
 font-size: small;
 clear: both;
 text-align: center;
 border: 1px solid #000;
 background-color: #EEF;
}
span.blog_title {
 font-size: large;
 display: block;
}
span.blog_byline {
 font-size: small;
 font-style: italic;
 display: block;
 float: left;
}
span.blog_editctls {
 font-size: small;
 float: right;
 display: block;
}
p.blog_content {
 clear: both;
}
tr.ticket_new>td { background: #FDB; }
tr.ticket_open>td { background: #FFF; }
